html {
  background-color: pink;
}

header {
  background-color: #e40046;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 4.5vw 'Quicksand', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  /* text-shadow: 4px 4px 0px rgba(0,0,0,0.4), 4px 4px 0px rgba(0,0,0,0.05); */
  padding: 0;
  margin: 0;
  padding-right: 75px;
} 

.mobile {
  padding-bottom: 5px;
}

.logo {
  background-color: white;
  padding: 12px;
  float: left;
  width: 25vw;
  height: auto;
}

nav {
  height: 8.8vh;
  background-color: #0f1013;
  color: white;
  font-size: 1.5vw;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.plain {
  text-decoration: none;
  color: white;
}

#nav-bkg {
  padding: 1.2vw 5.8vw;
}

.hover:hover {
  background-color: #2d8079;
  margin: 0;
  padding: 1.2vw 5.8vw;
}

.body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
	font: 'Quicksand', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
}

.text {
  padding-bottom: 5px;
}

section {
  padding-top: 11px;
  padding-bottom: 12px;
}

#inch {
  padding-top: 26px;
}

#smidge {
  padding: 10px;
}

.challenge-section {
  padding: 20px;
  padding-right: 50px;
  font-size: 1.5vw;
}

.label {
  padding: 10px 15px;
  align-content: space-around;
  text-align: right;
}

.row {
  text-align: right;
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: space-evenly;
}

.challenge-row {
  text-align: right;
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: space-around;
}

#progress {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 15px;
}

.progress {
  padding-bottom: 5px;
}

.content {
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
  font-size: 1.5vw;
}

.challenge-content {
  align-items: center;
  text-align: center;
  padding-left: 50px;
}

.home-content {
  align-items: center;
  text-align: left;
  font-size: 1.5vw;
}

.button-content {
  text-align: center;
  padding: 2px;
  padding-bottom: 50px;
  margin: 0;
}

.rainy-content {
  text-align: center;
  padding: 0px 250px;
  font-size: 1.5vw;
  line-height: 2vw;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
  text-align: left;
  font-size: 1.5vw;
}

.input-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
  text-align: center;
  font-size: 1.5vw;
}


.button-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  text-align: center;
  font-size: 1.5vw;
}

.item-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
  text-align: right;
  font-size: 1.5vw;
}

input {
  height: 2vh;
  width: 10vw;
  margin: 0 20px;
  border: 1px solid grey; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 2px;
    background: rgba(255,255,255,0.5);
}

input:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}

button {
  font: 1vw 'Quicksand', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  text-align: center;
  padding: 10px 15px;
  margin: 0;
  border-radius: 10px;
}

button:hover {
  color: white;
  background-color: #2d8079;
}

p {
  font-size: 3vh;
  text-align: left;
  line-height: 7vh;
  padding-right: 50px;
}

.body h2 {
  margin: 0;
  padding-top: 20px;
}

body img{
  float: left;
  width: 48vw;
  padding-right: 50px;
}

/* .arrow img{
  transform: rotate(270deg);
  float: right;
  padding-right: 3.5vw;
  height: auto;
  width: 6vw;
} */

footer {
  height: 6vh;
  font-size: 2vh;
  color: white;
  text-align: center;
  margin: 0;
  padding-top: 2vh;
  background-color: #0f1013;
}

@media screen and (max-width: 800px) {
header {
  background-color: white;
  color: white;
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
	font: 6vw 'Quicksand', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  padding: 0;
  padding-bottom: 0px;
  margin: 0;
}

.mobile {
  background-color: #e40046;
  padding: 1.5vh 9.8vw;
}

.logo {
  float: left;
  width: 336px;
  height: auto;
  padding: 5 25px;
}
nav {
  text-align: left;
  background-color: #0f1013;
  color: white;
  font-size: 7vw;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#nav-bkg {
  border-bottom: 2px solid grey;
  padding: 2.5vw;
  padding-left: 10vw;
  margin: 0;
}

.hover:hover {
  background-color: #2d8079;
  margin: 0;
  padding: 1vw 1vw;
}

body img{
  width: 100vw;
}

.body {
  display: flex;
  flex-direction: column;
}
.body h1{
  margin-top: 0;
  margin-bottom: 0;
}

#progress {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px;
}

.content {
  text-align: center;
  padding: 0px 15px;
  font-size: 4.5vw;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 3vw;
}

.input-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  text-align: center;
  font-size: 3.5vw;
}

.button-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  font-size: 3vw;
}

.item-column {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: right;
  font-size: 3vw;
}

section {
  font-size: 4vw;
  padding-bottom: 20px;
}

.label {
  font-size: 5vw;
  padding: 10px 0;
}

input {
  width: 80vw;
}

button {
  font: 3vw 'Quicksand', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  text-align: center;
  margin: 0;
  border-radius: 15px;
}

button:hover {
  color: white;
  background-color: #2d8079;
}

#submit {
  display: flex;
  justify-content: center;
}

/* .arrow img{
  transform: rotate(270deg);
  float: right;
  padding-right: 5vw;
  height: auto;
  width: 6vw;
} */

.body blockquote{
  font-size: 2.5vh;
  padding: 0;
}

footer {
  font-size: 2vh;
  height: 8vh;
}
}

/* #bar {
  html {  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  }
  
  body {
    background: #999;
  }
  
  h2 {
    margin: 0 0 20px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #999;
    font-family: sans-serif;
    font-weight: normal;
    color: #333;
  }
  
  .container {
    width: 500px;
    margin: 20px;
    background: #fff;
    padding: 20px;
    overflow: hidden;
    float: left;
  }
  
  .horizontal .progress-bar {
    float: left;
    height: 45px;
    width: 100%;
    padding: 12px 0;
  }
  
  .horizontal .progress-track {
    position: relative;
    width: 100%;
    height: 20px;
    background: #ebebeb;
  }
  
  .horizontal .progress-fill {
    position: relative;
    background: #666;
    height: 20px;
    width: 50%;
    color: #fff;
    text-align: center;
    font-family: "Lato","Verdana",sans-serif;
    font-size: 12px;
    line-height: 20px;
  }
  
  .rounded .progress-track,
  .rounded .progress-fill {
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
  }
  
} */


/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
